In [3]:
import pandas as pd

df1 = pd.read_csv('game_sales_data.csv', encoding='ISO-8859-1')
df2 = pd.read_csv('vgsales.csv')

In [4]:
df1

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
0,1,Wii Sports,Wii,Nintendo,Nintendo EAD,7.7,8.0,82.90,2006
1,2,Super Mario Bros.,NES,Nintendo,Nintendo EAD,10.0,8.2,40.24,1985
2,3,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,8.0,7.5,40.00,2012
3,4,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.32,2008
4,5,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,8.6,4.7,36.60,2017
...,...,...,...,...,...,...,...,...,...
19595,19594,FirePower for Microsoft Combat Flight Simulator 3,PC,GMX Media,Shockwave Productions,NaN,NaN,0.01,2004
19596,19595,Tom Clancy's Splinter Cell,PC,Ubisoft,Ubisoft,9.4,NaN,0.01,2003
19597,19596,Ashita no Joe 2: The Anime Super Remix,PS2,Capcom,Capcom,NaN,NaN,0.01,2002
19598,19597,Tokyo Yamanote Boys for V: Main Disc,PSV,Rejet,Rejet,NaN,NaN,0.01,2017
19599,19598,NadePro!! Kisama no Seiyuu Yatte Miro!,PS2,GungHo,GungHo Works,NaN,NaN,0.01,2009

In [5]:
df2

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [6]:
df1.columns.tolist()

['Rank',
 'Name',
 'Platform',
 'Publisher',
 'Developer',
 'Critic_Score',
 'User_Score',
 'Total_Shipped',
 'Year']

In [7]:
df2.columns.tolist()

['Rank',
 'Name',
 'Platform',
 'Year',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales']

In [8]:
merged_df = pd.merge(left=df1, right=df2, on=['Name','Platform', 'Publisher', 'Year'], how='inner')

In [9]:
merged_df

,Rank_x,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year,Rank_y,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,Nintendo,Nintendo EAD,7.7,8.0,82.90,2006,1,Sports,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,Nintendo,Nintendo EAD,10.0,8.2,40.24,1985,2,Platform,29.08,3.58,6.81,0.77,40.24
2,4,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.32,2008,3,Racing,15.85,12.88,3.79,3.31,35.82
3,7,Wii Sports Resort,Wii,Nintendo,Nintendo EAD,8.0,8.8,33.13,2009,4,Sports,15.75,11.01,3.28,2.96,33.00
4,9,New Super Mario Bros.,DS,Nintendo,Nintendo EAD,9.1,8.1,30.80,2006,7,Platform,11.38,9.23,6.50,2.90,30.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9119,19192,WRC 5: FIA World Rally Championship,X360,Bigben Interactive,Kylotonn Entertainment,NaN,NaN,0.01,2015,15812,Sports,0.00,0.02,0.00,0.00,0.02
9120,19198,Secret Files 2: Puritas Cordis,DS,Deep Silver,Fusionsphere Systems / Animation Arts,NaN,NaN,0.01,2009,16589,Adventure,0.00,0.01,0.00,0.00,0.01
9121,19254,Survivor,Wii,Valcon Games,Mindscape Inc.,5.5,NaN,0.01,2010,16368,Adventure,0.01,0.00,0.00,0.00,0.01
9122,19276,Don Bradman Cricket 14,X360,Tru Blu Entertainment,Big Ant Studios,6.8,NaN,0.01,2014,15991,Sports,0.00,0.01,0.00,0.00,0.01
9123,19402,Handball 16,X360,Bigben Interactive,EKO Software,NaN,NaN,0.01,2015,16394,Sports,0.00,0.01,0.00,0.00,0.01

In [10]:
merged_df.isnull().mean() * 100

Rank_x            0.000000
Name              0.000000
Platform          0.000000
Publisher         0.000000
Developer         0.010960
Critic_Score     48.947830
User_Score       93.018413
Total_Shipped     0.000000
Year              0.000000
Rank_y            0.000000
Genre             0.000000
NA_Sales          0.000000
EU_Sales          0.000000
JP_Sales          0.000000
Other_Sales       0.000000
Global_Sales      0.000000
dtype: float64

In [11]:
merged_df = merged_df.drop(columns=['Rank_x','Rank_y'])

In [12]:
merged_df.isnull().mean() * 100

Name              0.000000
Platform          0.000000
Publisher         0.000000
Developer         0.010960
Critic_Score     48.947830
User_Score       93.018413
Total_Shipped     0.000000
Year              0.000000
Genre             0.000000
NA_Sales          0.000000
EU_Sales          0.000000
JP_Sales          0.000000
Other_Sales       0.000000
Global_Sales      0.000000
dtype: float64

In [13]:
merged_df

,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,Nintendo,Nintendo EAD,7.7,8.0,82.90,2006,Sports,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,Nintendo,Nintendo EAD,10.0,8.2,40.24,1985,Platform,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.32,2008,Racing,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,Nintendo,Nintendo EAD,8.0,8.8,33.13,2009,Sports,15.75,11.01,3.28,2.96,33.00
4,New Super Mario Bros.,DS,Nintendo,Nintendo EAD,9.1,8.1,30.80,2006,Platform,11.38,9.23,6.50,2.90,30.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9119,WRC 5: FIA World Rally Championship,X360,Bigben Interactive,Kylotonn Entertainment,NaN,NaN,0.01,2015,Sports,0.00,0.02,0.00,0.00,0.02
9120,Secret Files 2: Puritas Cordis,DS,Deep Silver,Fusionsphere Systems / Animation Arts,NaN,NaN,0.01,2009,Adventure,0.00,0.01,0.00,0.00,0.01
9121,Survivor,Wii,Valcon Games,Mindscape Inc.,5.5,NaN,0.01,2010,Adventure,0.01,0.00,0.00,0.00,0.01
9122,Don Bradman Cricket 14,X360,Tru Blu Entertainment,Big Ant Studios,6.8,NaN,0.01,2014,Sports,0.00,0.01,0.00,0.00,0.01
9123,Handball 16,X360,Bigben Interactive,EKO Software,NaN,NaN,0.01,2015,Sports,0.00,0.01,0.00,0.00,0.01

In [14]:
from sklearn.impute import KNNImputer

# Initialize the KNN Imputer
knn_imputer = KNNImputer(n_neighbors=5)

# It's important to scale your features before applying KNN imputation
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Assuming 'df' is your DataFrame and 'Critic_Score' is among other numerical columns you wish to include
numerical_features = merged_df.select_dtypes(include=['float64', 'int64']).columns.tolist()
df_scaled = scaler.fit_transform(merged_df[numerical_features])
df_scaled = pd.DataFrame(df_scaled, columns=numerical_features)

# Apply KNN imputation
df_scaled_imputed = knn_imputer.fit_transform(df_scaled)
df_scaled_imputed = pd.DataFrame(df_scaled_imputed, columns=numerical_features)

# Inverse transform to get back to the original scale
df_imputed = scaler.inverse_transform(df_scaled_imputed)
df_imputed = pd.DataFrame(df_imputed, columns=numerical_features)

# Update the original DataFrame with the imputed values
merged_df['Critic_Score'] = df_imputed['Critic_Score']

In [15]:
merged_df.isnull().mean() * 100

Name              0.000000
Platform          0.000000
Publisher         0.000000
Developer         0.010960
Critic_Score      0.000000
User_Score       93.018413
Total_Shipped     0.000000
Year              0.000000
Genre             0.000000
NA_Sales          0.000000
EU_Sales          0.000000
JP_Sales          0.000000
Other_Sales       0.000000
Global_Sales      0.000000
dtype: float64

In [16]:
merged_df

,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,Nintendo,Nintendo EAD,7.70,8.0,82.90,2006,Sports,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,Nintendo,Nintendo EAD,10.00,8.2,40.24,1985,Platform,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.20,9.1,37.32,2008,Racing,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,Nintendo,Nintendo EAD,8.00,8.8,33.13,2009,Sports,15.75,11.01,3.28,2.96,33.00
4,New Super Mario Bros.,DS,Nintendo,Nintendo EAD,9.10,8.1,30.80,2006,Platform,11.38,9.23,6.50,2.90,30.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9119,WRC 5: FIA World Rally Championship,X360,Bigben Interactive,Kylotonn Entertainment,7.32,NaN,0.01,2015,Sports,0.00,0.02,0.00,0.00,0.02
9120,Secret Files 2: Puritas Cordis,DS,Deep Silver,Fusionsphere Systems / Animation Arts,6.50,NaN,0.01,2009,Adventure,0.00,0.01,0.00,0.00,0.01
9121,Survivor,Wii,Valcon Games,Mindscape Inc.,5.50,NaN,0.01,2010,Adventure,0.01,0.00,0.00,0.00,0.01
9122,Don Bradman Cricket 14,X360,Tru Blu Entertainment,Big Ant Studios,6.80,NaN,0.01,2014,Sports,0.00,0.01,0.00,0.00,0.01
9123,Handball 16,X360,Bigben Interactive,EKO Software,7.42,NaN,0.01,2015,Sports,0.00,0.01,0.00,0.00,0.01

In [17]:
# Replace NaN values in 'Year' column with a placeholder and convert to integer
merged_df['Year'] = merged_df['Year'].fillna(-1).astype(int)
merged_df['Year_as_date'] = pd.to_datetime(merged_df['Year'], format='%Y', errors='coerce')

In [18]:
# We'll describe the sales columns to see the distribution and identify potential outliers
merged_df[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].describe()

          NA_Sales     EU_Sales     JP_Sales  Other_Sales  Global_Sales
count  9124.000000  9124.000000  9124.000000  9124.000000   9124.000000
mean      0.280683     0.159829     0.059300     0.050715      0.550835
std       0.907657     0.552086     0.256622     0.171174      1.699326
min       0.000000     0.000000     0.000000     0.000000      0.010000
25%       0.000000     0.000000     0.000000     0.000000      0.060000
50%       0.090000     0.030000     0.000000     0.010000      0.180000
75%       0.260000     0.130000     0.020000     0.040000      0.480000
max      41.490000    29.020000     6.810000     8.460000     82.740000

In [19]:
# Step 4: Normalize text data (convert to consistent casing)
merged_df['Name'] = merged_df['Name'].str.title()
merged_df['Platform'] = merged_df['Platform'].str.upper()
merged_df['Genre'] = merged_df['Genre'].str.title()
merged_df['Publisher'] = merged_df['Publisher'].str.title()

In [20]:
merged_df.to_csv('p1.csv', index=False)

In [24]:
# Find the most selling game
most_selling_game = merged_df.loc[merged_df['Global_Sales'].idxmax()]

# Find the highest rated game
highest_rated_game = merged_df.loc[merged_df['Critic_Score'].idxmax()]
most_selling_game
highest_rated_game

Name               Super Mario Bros.
Platform                         NES
Publisher                   Nintendo
Developer               Nintendo EAD
Critic_Score                    10.0
User_Score                       8.2
Total_Shipped                  40.24
Year                            1985
Genre                       Platform
NA_Sales                       29.08
EU_Sales                        3.58
JP_Sales                        6.81
Other_Sales                     0.77
Global_Sales                   40.24
Year_as_date     1985-01-01 00:00:00
Name: 1, dtype: object